@charset "ISO-8859-1";

body 
{
	margin: 30px 30px;
}


#dataTable th
{
	text-align: center;
	font-weight: bold;
		font-size: 19px;
	
	}

#dataTable td
{
	text-align: center;
		font-weight: bold;
	font-size: 16px;
	
}

#dataTable tr
{
	background-color:  #f2f3f4 ;
}